body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 100%;
}

main .black {
    background: #171717;
}

.black {
    background: #171717;
    color: #FAFAFA;
}

.profile-info {
    display: flex;
    flex-direction: column;
    border: #FAFAFA 1px solid;
    border-radius: 40px;
    margin-left: 4vw;
    padding: 20px;
}

.name {
    font-size: 6vw;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.info {
    font-size: xx-large;
}

header {
    justify-content: space-around;
    width: 100%;
    display: flex;
}

.url {
    transition: 1s ease-in-out;
    text-decoration: none;
    padding: 8px;
    border: #FAFAFA 1px solid;
    display: block;
    border-radius: 40px;
    font-size: xx-large;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    margin-top: 10px;
    font-size: xx-large;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 0;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #FAFAFA;
    text-decoration: none;
    transition: all 700ms ease-in;
}

.avatar {
    max-height: 100%;
    max-width: 12%;
    border-radius: 20px;
}

.text {
    width: 100%;
    text-align: center;
}

.card-favor {
    background-size: cover;
    padding: 40px;
    background: rgba(0, 0, 0, 0.3);
    background-blend-mode: color !important;
    margin-top: 10px;
    font-size: xx-large;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    width: 60%;
    display: block;
    border-radius: 20px;
    border: 1px solid #FAFAFA;
    text-decoration: none;
    transition: all 700ms ease-in;
}

.favor {
    padding: 40px;
}