main {
    align-items: initial !important;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    margin: auto;
}

.name-page {
    padding: 0;
    width: 100vw;
    margin: 0;
    text-align: center;
    font-size: xxx-large;
    color: #ffffff;
}