body {
    overflow-y: auto;
}

.favor {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item {
    text-align: center;
    border-radius: 10px;
    border: solid 3px #071349;
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
    color: #6cffdf;
    font-size: xx-large;
    transition: transform 0.2s;
    background-size: cover;
    padding: 10vh;
}