body {
    background-image: linear-gradient( 109.6deg,  rgba(14,11,56,1) 11.2%, rgb(2, 81, 109) 91.1% );
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.name {
    font-size: xxx-large;
    font-family: "Bookman Old Style", sans-serif;
}