body {
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)) 0 0 / cover no-repeat fixed, url("https://source.unsplash.com/tHtZo3FLhPc/1920x1080") center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.name {
    margin-left: 4%;
    font-size: xxx-large;
    font-family: "Bookman Old Style", sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-grow: 0.9;
}


@media screen and (max-width: 600px){
    .name{
        margin: auto;
    }
}