header {
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    display: flex;
    min-height: auto;
}

header a {
    color: #ffffff !important;
    text-decoration: none;
    flex-grow: 1;
    margin: 16px 16px 16px 20px;
    font-size: xxx-large;
    text-shadow: #0d7377 1px 1px 1px;
}

.btn-grad {
    font-size: x-large;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    text-decoration: none;
    animation: button_s 1s ease-in-out;
}

@keyframes button_s {
    from {
        transform: rotateX(0) rotateY(0);
    }
    50% {
        transform: rotateX(20grad) rotateY(30grad);
    }
    to {
        transform: rotateX(0) rotateY(0);
    }

}