{% extends "base.html" %}

{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor.css') }}">
{% endblock %}

{% block content %}
    <div class="block-info">
        <a class="card black" href="https://shikimori.one/animes/35849-darling-in-the-franxx">
            <img src="https://dere.shikimori.one/system/animes/original/35849.jpg?1613376425" alt="Тут была картинка" class="avatar">
            <div class="text">Darling in the FranXXX</div>
        </a>
        <a class="card black"
           href="https://shikimori.one/animes/33502-shuumatsu-nani-shitemasu-ka-isogashii-desu-ka-sukutte-moratte-ii-desu-ka">
            <img src="https://moe.shikimori.one/system/animes/original/11757.jpg?1611849076" alt="Тут была картинка" class="avatar">
            <div class="text">Sword Art Online</div>
        </a>
        <a class="card black" href="https://shikimori.one/animes/z11757-sword-art-online">
            <img src="https://moe.shikimori.one/system/animes/original/33502.jpg?1608718912" alt="Тут была картинка" class="avatar">
            <div class="text">Sukutte Moratte Ii Desu ka?</div>
        </a>
    </div>
{% endblock %}