{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
{% block content %}
    <div class="block-info">
        <a class="card black" href="https://github.com/51Sirius">
            <img src="https://avatars.githubusercontent.com/u/71227522?v=4" alt="Тут была картинка" class="avatar">
            <div class="text">GitHub</div>
        </a>
        <a class="card black" href="https://vk.com/danilberkut178">
            <img src="https://sun9-30.userapi.com/s/v1/ig2/t6NQhVazSE73biofhC6X9zLTYLquZM8ra2odeAjMf_JLFa67JciUshoA47nWBUMpKTzOXlfgrg6riUHcZPirHAUM.jpg?size=200x0&quality=96&crop=43,44,512,512&ava=1"
                 alt="Тут была картинка" class="avatar">
            <div class="text">ВКонтакте</div>
        </a>
        <a class="card black" href="https://shikimori.one/NightGod">
            <img src="https://moe.shikimori.one/system/users/x160/722227.png?1612611331" alt="Тут была картинка"
                 class="avatar">
            <div class="text">Шикимори</div>
        </a>
        <a class="card black" href="https://ranobehub.org/user/61070">
            <img src="https://ranobehub.org/img/media/60903/avatar.webp?v=1626517831" alt="Тут была картинка"
                 class="avatar">
            <div class="text">RanobeHub</div>
        </a>
        <a class="card black" href="https://remanga.org/user/44878">
            <img src="https://api.remanga.org/media/users/44878/avatar_V4QfIsL.jpg"
                 alt="Тут была картинка" class="avatar">
            <div class="text">Remanga</div>
        </a>
        <a class="card black" href="https://steamcommunity.com/id/sirius-project/">
            <img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/fb/fb6f6ee8d67efba70a22261ce2110cde05885233_full.jpg"
                 alt="Тут была картинка" class="avatar">
            <div class="text">Steam</div>
        </a>
    </div>
{% endblock %}