{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favor.css') }}"/>
{% endblock %}
{% block content %}
    <div class="favor">
        <div class="block-favor favor-1"
             style="background-image: url({{ url_for('static', filename='images/Djg5BofXgAEA4xn.jpg') }})">
            Фильмы
        </div>
        <div class="block-favor favor-1"
             style="background-image: url({{ url_for('static', filename='images/Darling-in-the-FranXX-Code-002-1813589.jpg') }})">
            Аниме
        </div>
    </div>
{% endblock %}