{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favor_page.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favor.css') }}"/>
{% endblock %}
{% block content %}
    <div class="name-page">
    {% block  head %}
    {% endblock %}
    </div>
    {% block best %}
    {% endblock %}
    {% block script %}

    {% endblock %}
{% endblock %}
<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>