{% extends 'base.html' %}
{% block custom %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favor.css') }}"/>
{% endblock %}
{% block content %}
    <div class="favor">
        <div class="card">
            <a class="card-item" href="{{ url_for('anime_page') }}"
               style="background-image: url( {{ url_for('static', filename='images/Darling-in-the-FranXX-Code-002-1813589.jpg') }} )">
                Аниме
            </a>
        </div>
        <div class="card">
            <a class="card-item" href=" {{ url_for('film_page') }}"
               style="background-image: url( {{ url_for('static', filename='images/Djg5BofXgAEA4xn.jpg') }} )">
                Фильмы
            </a>
        </div>
        <div class="card">
            <a class="card-item" href=" {{ url_for('serial_page') }}"
               style="background-image: url( {{ url_for('static', filename='images/fe38078fa470218ab31cac2924dec7e0.jpg') }} )">
                Сериалы
            </a>
        </div>
        <div class="card">
            <a class="card-item" href="{{ url_for('manga_page') }}"
               style="background-image: url( {{ url_for('static', filename='images/33d7a28cca50eac631deac6e4023a8c2.jpg') }} )">
                Манга
            </a>
        </div>
        <div class="card">
            <a class="card-item" href=" {{ url_for('ranobe_page') }}"
               style="background-image: url( {{ url_for('static', filename='images/0_9tzXwR6j7BjkG2Q4.jpg') }} )">
                Ранобэ
            </a>
        </div>
    </div>
{% endblock %}