{% extends "base.html" %}

{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor.css') }}">
{% endblock %}
{% block content %}
    <div class="block-info">
        <a class="card black" href="https://www.kinopoisk.ru/film/258687/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/430042eb-ee69-4818-aed0-a312400a26bf/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">Interstellar</div>
        </a>
        <a class="card black"
           href="https://www.kinopoisk.ru/film/447301/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/8ab9a119-dd74-44f0-baec-0629797483d7/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">Inception</div>
        </a>
        <a class="card black" href="https://www.kinopoisk.ru/film/505851/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/59acece0-e900-4914-aa8a-ec5f42026a64/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">Edge of Tomorrow</div>
        </a>
    </div>
{% endblock %}