{% extends 'favor_base.html' %}
{% block head %}
    Любимые фильмы
{% endblock %}
{% block best %}
    <div class="card">
        <a class="card-item" href="https://www.kinopoisk.ru/film/447301/"
           style="background-image: url('https://w-dog.ru/wallpapers/16/17/447583961238658/nachalo-nachalnyj-gorod-lyudi-neboskreby.jpg')">
            Начало
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://www.kinopoisk.ru/film/258687/"
           style="background-image: url('https://a.d-cd.net/9761349s-1920.jpg')">
            Интерстеллар
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://www.kinopoisk.ru/film/280172/"
           style="background-image: url('https://img5.goodfon.ru/wallpaper/nbig/c/c6/how-to-train-your-dragon-the-hidden-world-kak-priruchit-dr-1.jpg')">
            Как приручить дракона
        </a>
    </div>
{% endblock %}