{% extends 'favor_base.html' %}
{% block head %}
    Любимая манга
{% endblock %}
{% block best %}
    <div class="card">
        <a class="card-item" href="https://remanga.org/manga/battle_through_the_heavens"
           style="background-image: url('http://pm1.narvii.com/7412/e508d2133f367609211b494fb763470de81a3f91r1-700-989v2_uhq.jpg')">
            Синева
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://remanga.org/manga/combat_continent"
           style="background-image: url('https://r1.ninemanga.com/comics/pic2/36/34660/437016/1537309114817.jpg')">
            Douluo Dalu
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://remanga.org/manga/how-the-demon-emperor-became-a-butler"
           style="background-image: url('https://i.ytimg.com/vi/DKuBdL3frj4/maxresdefault.jpg')">
            Демон-дворецкий
        </a>
    </div>
{% endblock %}