{% extends "base.html" %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor.css') }}">
{% endblock %}
{% block content %}
    <div class="block-info">
        <a class="card black" href="https://remanga.org/manga/solo-leveling">
            <img src="https://api.remanga.org/media/titles/solo-leveling/3d99c504bdc727e34d12eb945f09e30a.jpg" alt="Тут была картинка" class="avatar">
            <div class="text">Solo Leveling</div>
        </a>
        <a class="card black"
           href="https://remanga.org/manga/battle_through_the_heavens">
            <img src="https://api.remanga.org/media/titles/battle_through_the_heavens/cf20704d78a3a44aa53d5de6050ad15c.jpg" alt="Тут была картинка" class="avatar">
            <div class="text">Battle Through the Heavens</div>
        </a>
        <a class="card black" href="https://remanga.org/manga/the_beginning_after_the_end">
            <img src="https://api.remanga.org/media/titles/the_beginning_after_the_end/high_cover.jpg" alt="Тут была картинка" class="avatar">
            <div class="text">The Beginning After the End</div>
        </a>
    </div>
{% endblock %}