{% extends "base.html" %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor.css') }}">
{% endblock %}
{% block content %}
    <div class="block-info">
        <a class="card black" href="https://ranobehub.org/ranobe/71-martial-world">
            <img src="https://ranobehub.org/img/media/2350/conversions/0-full-big.webp" alt="Тут была картинка" class="avatar">
            <div class="text">Martial World</div>
        </a>
        <a class="card black"
           href="https://ranobehub.org/ranobe/81-martial-god-asura">
            <img src="https://ranobehub.org/img/media/2360/conversions/0-full-big.webp" alt="Тут была картинка" class="avatar">
            <div class="text">Martial God Asura</div>
        </a>
        <a class="card black" href="https://ranobehub.org/ranobe/56-otherworldly-evil-monarch">
            <img src="https://ranobehub.org/img/media/2335/conversions/0-full-big.webp" alt="Тут была картинка" class="avatar">
            <div class="text">Otherworldly Evil Monarch</div>
        </a>
    </div>
{% endblock %}