{% extends "base.html" %}
{% block custom %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
{% block content %}
    <div class="block-info">
        <a class="card black" href="https://www.kinopoisk.ru/series/178710/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/270df10e-2e72-4d8e-a49b-f84c751162a7/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">House, M.D.</div>
        </a>
        <a class="card black"
           href="https://www.kinopoisk.ru/series/817506/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/dc3b73d6-4c26-4af1-8cab-9aa1af7b89d9/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">The Flash</div>
        </a>
        <a class="card black" href="https://www.kinopoisk.ru/series/893459/">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/f191651e-eb0d-4d37-a174-40133b2a4646/300x450" alt="Тут была картинка" class="avatar">
            <div class="text">DC's Legends of Tomorrow</div>
        </a>
    </div>
{% endblock %}