{% extends 'favor_base.html' %}
{% block head %}
    Любимые сериалы
{% endblock %}
{% block best %}
    <div class="card">
        <a class="card-item" href="https://remanga.org/manga/battle_through_the_heavens"
           style="background-image: url('https://i.ytimg.com/vi/hrVmR914KPc/maxresdefault.jpg')">
            Флэш
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://www.kinopoisk.ru/series/178710/"
           style="background-image: url('https://a.d-cd.net/3IAAAgJPvOA-1920.jpg')">
            Доктор хаус
        </a>
    </div>
    <div class="card">
        <a class="card-item" href="https://www.kinopoisk.ru/series/913033/"
           style="background-image: url('https://tipstops.ru/wa-data/public/tipstops/images/67/7a/677a9b8e845b328c4c76463252beb867.1500x1000.jpg')">
            Полицейский с Рублёвки
        </a>
    </div>
{% endblock %}